.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  width: 150px;
  height: 300px;
}

.searchbox{
  border: 1px #4e5056 dotted;
  border-radius: 10px;
  padding: 70px;
  margin: 40px;
}

.loginbox{
  border: 1px #4e5056 dotted;
  border-radius: 10px;
  padding: 70px;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.container-card{
  margin: 10px;
  height: 600px;
  width: 200px;
  box-shadow: 8px 3px 16px 0px rgba(66, 68, 90, 1);
}

.pagination{
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.editbookbox{
  border: 1px #4e5056 dotted;
  border-radius: 10px;
  padding: 70px;
  margin: 40px;
}

.transactionbox{
  border: 1px #4e5056 dotted;
  border-radius: 10px;
  padding: 70px;
  margin: 40px;
}

.transactiondetailsbox{
  border: 1px #244131 solid; 
  border-radius: 10px;
  padding: 70px;
  margin: 40px;
}
